{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('messages.show', user_id = message.user_id, id=message.id) }}?_method=PATCH" method = "POST">
	{{ form.csrf_token }}
	<p>
		{{ form.text(placeholder="content") }}

			<span>
				{% if form.text.errors %}
					{% for error in form.text.errors %}
						{{ error }}
					{% endfor %}	
				{% endif %}	
			</span>
	</p>
	<input type="submit" value="update message">
</form>
<form action="{{ url_for('messages.show', user_id = message.user_id, id=message.id) }}?_method=DELETE" method="POST">
		{{ delete_form.hidden_tag() }}
		<input type="submit" value ="delete message">
	
</form>

{% endblock %}